body{
  background-color: #00875140;
}

#result{
  background: #fff;
  padding: 0.05rem;
  width: 80%;
  margin: 5rem auto;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 5px rgb(10, 241, 122);
}

#party .result-menu{
  margin-top: 1rem;
  align-content: center;
}

.result-header{
  font-size: 2.4rem;
  margin: 2rem 0 0;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

table, th, td {
  border: 1px solid;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: none;
  border-left: none;
}

table {
  width: 80%;
  border-collapse: collapse;
  border: none;
  height: 30%;
  margin: 2rem auto;
  margin-bottom: 1rem;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgb(10, 241, 122);
  border-radius: 3px;
}

th {
  height: 20px;
  text-transform: uppercase;
  border-right: none;
}

td {
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

td:last-child{
  border-right: none;
} 

