body {
  background-color: #00875140;
  background-size: cover;
  background-position: 0%;
  list-style: 1.2;
}


.user-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1rem auto;
}

.user-content h2{
  font-weight: 600;
}

.voted{
  margin: 2rem 0;
}

.voted-header{
  text-transform: uppercase;
  margin: 0.5rem;
  text-align: center;
  font-weight: 500;
}

.candidate-voted {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem auto;
  width: 70%;
}

.candidate-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 200px;
  height: 260px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px rgb(10, 241, 122);
  background: #FFF;
}

.img{
  display: block;
  height: 150px;
  width: 160px;
}